.env
.env.*
__pycache__/
*.py[cod]
*.so
*.log
build/
dist/
*.egg-info/
venv/
.venv/
.virtualenv/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
res/llm.log
prompt/create_prompt.log
# VSCode settings (optional uncomment if you don't want to share)
# .vscode/
